body {  
  background-image: url("https://images.unsplash.com/photo-1534841090574-cba2d662b62e?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80");
  opacity: 0.8;
  background-color: black;
}
.top-section {  
  margin: auto;
  width: 85%;
  padding: 5px;
  border: solid 1px rgb(240, 240, 240);
  box-shadow: 0 4px 4px 0 rgba(255, 254, 254, 0.897); 
  border-radius: 10px; 
  background-color: black;
  margin-bottom: 15px;
  margin-top: 15px;
  box-sizing: border-box;
}
.top-section img {
  border: solid 1px rgb(240, 240, 240); 
}
.blockquote-footer {
  text-align: center;
  margin-bottom: 10px;
}
.center-image {    
  margin: auto;
  margin-bottom: 20px;  
  width: 62%;
  height: auto;
  display: block;
}
.highlight {
  font-style: italic;
}
#main_name {
  margin-top: 10px;
  letter-spacing: 25px;
  font-size: 65px;
  font-family: fantasy;
  padding: 5px;
  margin: auto;
  margin-left: 25px;
  font: larger;  
  color: rgb(240, 240, 240);
  text-align: center;  
}
.box1 {
  margin: auto;
  width: 85%;
  padding: 10px;
  border: solid 1px rgb(240, 240, 240);
  box-shadow: 0 4px 4px 0 rgba(255, 254, 254, 0.897);
  border-radius: 10px;
  color: rgb(240, 240, 240);
  background-color: black;
  margin-bottom: 15px;
  box-sizing: border-box;
}
.box1 h2 {
  text-align: left;
  font-size: 30px;
}
.box1 h5 {
  text-align: center;
}
.column {  
  width: 33%;
  float: left;  
}
.projects {  
  border: solid 1px rgb(240, 240, 240);
  box-shadow: 0 4px 4px 0 rgba(255, 254, 254, 0.897);
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;  
  color: rgb(240, 240, 240);
  text-align: center
}
.projects ul {
  list-style: none;
}
.projects h4 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;    
}
.projects a {
  font-size: large;
}
.project-card {
  margin-left: 22px;
  border: solid 1px rgb(240, 240, 240);
  border-radius: 10px;  
  background-color: black;
  box-shadow: 0 2px 2px 0 rgba(255, 254, 254, 0.897);   
  width: 90%;
  height: 90%;   
}
.project-card:hover {
  box-shadow: 0 10px 10px 0 rgba(255, 254, 254, 0.897);
}
.card-body ul {
  margin-top: 0px;
  margin-right: 35px;
  text-align: center;
}
.quote {
  font-size: medium;
  text-align: center;  
} 
a:link {
  color:  rgb(1, 228, 20);
}
a:visited {
  color: rgb(1, 228, 20);
}
a:hover {
  color: rgb(34, 56, 255);
}
a:active {
  color: blue;
}
#copywrite {
  color: white;
}