body {
  background-color: black;
}

img {
  border: solid 5px white;
  margin: auto;
  width: 25%;
}

#main_name {
  border: solid 5px white;
  margin: auto;
  font: larger;  
  color: white;
  text-align: center;
  
}

.box1 {
  margin: auto;
  width: 75%;
  padding: 20px;
  border: solid 5px white;
  color: white;
  background-color: black;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.projects {  
  border: solid 5px white;
  margin: auto;
  font: larger;  
  color: white;
  text-align: center
}

.projects ul {
  list-style: none;
}

